form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(7, 68, 12);
    border: solid yellow;
    width: 250px;
    height: 150px;
}

/*#email{
    margin-bottom: 10px;    
}*/

button{
    width: 175px;
   /* margin: 10px;*/
}

input{
    margin-bottom
    : 10px;
}