.cabecalho{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(26, 91, 148);
    height: 75px;
    margin: 5px;
}

.menu-1 , .menu-2, .menu-3{
    display: inline-flex;
    justify-content: center;
    width: 280px;
    height: 400px;
    background-color: blueviolet;
    margin: 5px;
}

.rodape{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(11, 77, 55);
    height: 60px;
    margin: 5px;
}