h1{
    /*color:rgb(79, 129, 216);*/
    color:rgb(24, 95, 190);
    text-align: center;
}

p{
    font-size: 24px;
    text-align: center;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    background-color: white;
    width: 500px;
    border-top: 15px rgb(79, 129, 216) solid; 
    border-left: 45px rgb(79, 129, 216) solid;
    border-bottom: 15px rgb(79, 129, 216) solid;
    border-right: 45px rgb(79, 129, 216) solid;

}

div h1{
    padding: 0%;
    margin: 0%;
}

div p{
    padding: 10px 0px 0px 0px;
    margin: 0%;

}