nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(37, 91, 190);
    color: white;
    width: 100px;
    height: 40px;
}

a:hover{
    background-color: brown;
}